html {
    font-family: sans-serif;
    
}



header {
    text-align: center;
    background-color: rgb(179, 181, 185);
}
footer{

    
color: rgb(142, 142, 236);
    
    
      
}
body{
    text-align: center;
}

input {
    height: 30px;
    border: 1px rgb(142, 2, 207) solid;
    border-radius: 10px;
}



button {
    display: -webkit-inline-box;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    border: 1px rgb(165, 207, 219) solid;
    border-radius: 40px;

    cursor: pointer;
    background-color: rgb(153, 95, 158);
}




